$black: #1a1a1a;


.home-container
{
    display: grid;
    grid-template-rows: 85vh 10vh;


    .input-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 2;

        .input-box
        {
            background-color: $black;
            height: 20px;
            min-width: 250px;
            padding: 10px;
            border: none;
            outline: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .submit-btn
        {
            background-color: $black;
            border-radius: none;
            height: 40px;
            border: none;
        }
    }
}